@{
    ViewBag.Title = "ListEvents";
}
<h2>Events</h2>
<p>Filter By Event Category: @Html.DropDownList("event_categories", new SelectList(ViewBag.allEventCategories, "Value", "Text"))</p>
<div id="events_list_result">
    @Html.Partial("_eventsList")
</div>
<br/>
<p>
    <a href="/home/addevent">Add Event</a>
</p>
@section scripts {
    @Scripts.Render("~/bundles/fintech")
}