@using FinTech101.Models
@{
    List<SP_Q7_GetStockEntityPricesBasedOnSomeOtherStockEntityResult> result = (List<SP_Q7_GetStockEntityPricesBasedOnSomeOtherStockEntityResult>)ViewData["result"];
}
<table border="1" style="width:50%">
    <thead>
        <tr>
            <th style="text-align:center">Anchor Date</th>
            <th style="text-align:center">Anchor Change %</th>
            <th style="text-align:center">Target Date</th>
            <th style="text-align:center">Target Change %</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in result)
            {
                <tr>
                    <td style="text-align:center">@item.AnchorForDate.Value.ToShortDateString()</td>
                    <td style="text-align:center">@item.AnchorChangePercent.Value.ToString("0.00")</td>
                    <td style="text-align:center">@item.TargetForDate.Value.ToShortDateString()</td>
                    <td style="text-align:center">@item.TargetChangePercent.Value.ToString("0.00")</td>
                </tr>
            }
        }
    </tbody>
</table>